.env
.venv/
__pycache__/
*.pyc
# Virtual envs
.venv/
venv/
env/
ENV/

# PyCharm project files
.idea/

# Python caches / notebooks
__pycache__/
*.pyc
.ipynb_checkpoints/

# OS files
.DS_Store

# Local data outputs (if you want)
myntra_reviews_extracted.csv
